html{
    scroll-behavior: smooth;
  }
  .main_text {
      background-color: white;
      margin-top: 50px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 24px;
  }
  .topic {
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 20px;
  }

  .button1 {
      color: white;             
      padding: 10px 20px;        
      border-radius: 10px;        
  }

  .button1:hover {
      background-color: #000000; 
  }

  .table{
    margin-top: 50px;
  }
  
  .icon_fonts{
    margin: 20px;
    text-align: center;
  }

  .image-container {
    display: flex; /* Use flexbox to center the content */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically (if needed) */
    margin: 50px; /* Add some margin around the container */
}

.centered-image {
    width: 300px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: add rounded corners */
}

  /* responsive styling */
  @media (max-width: 576px) { /* extra small screens */
      .main_text {
          font-size: 22px;
          padding: 15px;
          margin: 20px;
      }
      .topic h1 {
          font-size: 36px;
      }
      .box1, .box2, .box3, .box4 {
          padding: 10px;
          margin-bottom: 10px;
      }
  }
